/**
* prism.js theme
*/

:root {
    --inline-code-bg: #f5f3ff;
    --inline-code-color: #6d28d9;
    --code-border: #cbd5e1;
    --code-fg: #6e7f91;
    --code-comment: #a8b3bd;
    --code-blue: #2563eb;
    --code-cyan: #06b6d4;
    --code-purple: #7c3aed;
    --code-green: #10b981;
    --code-red: #ef4444;
    --code-yellow: #f59e0b;
    --tab-size: 4;
}

/* purgecss start ignore */

code[class*='language-'],
pre.prismjs {
    color: var(--code-fg);
    background: none;
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: var(--tab-size);
    -o-tab-size: var(--tab-size);
    tab-size: var(--tab-size);

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre.prismjs {
    background: transparent;
    border-top: 1px solid var(--code-border);
    border-bottom: 1px solid var(--code-border);
    margin: 1rem -1rem 2rem;
    overflow: auto;
    padding: 1rem;
    width: 100vw;
}

@media all and (min-width: 640px) {
    pre.prismjs {
        border-radius: 0.25rem;
        border: 1px solid var(--code-border);
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--code-comment);
}

.token.punctuation {
    color: var(--code-fg);
}

.token.tag,
.token.namespace,
.token.boolean,
.token.deleted,
.token.number,
.token.interpolation-punctuation {
    color: var(--code-red);
}

.token.function-name,
.token.function,
.token.attr-name,
.token.property,
.language-html .token.attr-value,
.token.url {
    color: var(--code-blue);
}

.language-html .token.property,
.language-html .token.attr-name,
.language-html .token.namespace,
.token.class-name,
.token.constant,
.token.variable,
.token.symbol {
    color: var(--code-yellow);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: var(--code-purple);
}

.token.operator,
.token.entity {
    color: var(--code-cyan);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.inserted {
    color: var(--code-green);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/* purgecss end ignore */
